<% if obj.errors.any? %>
  <div class="row">
    <div class="col-xs-8 col-sm-offset-2">
      <div class="pannel panel-danger">
        <div class="pannel-heading">
          <h2 class="pannel-title">
            <%= pluralize(obj.errors.count, "error") %> prohibited this article from being saved:
          </h2>
          <div class="pannel-body">
            <ul>
              <% obj.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
