<div class="top">
  <h1>Welcome to Home page</h1>
</div>

<div id="content">
  <div class="contentLeft">
    <h3>Welcome to my home page!</h3>
    </br>
    My name is George and i' m working as software developer for a big company at Greece.
  </div>

  <div class="contentRight">
    <p><h3>Click <%= link_to 'here' ,articles_path %> to jump to Articles page.</h3> </p>
    <p><h3>Click <%= link_to 'here' ,about_path %> to jump to my About page.</h3></p>
  </div>
</div>