body{
  background-image: url('images/backImage.jpg')
}

.top{
  width: 100%;
  height: 150px;
}

.top h1{
  text-align: center;
}

#content .contentLeft{
  width: 50%;
  height: 200px;
  text-align: center;
  float:left;
}

#content .contentRight{
  width:50%;
  height: 200px;
  text-align: center;
  float:left;
}
